---
title: UPGRADE
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">
			UPGRADE
		</h2>
		<p class="subtext editable">
			This website is dedicated to UPGRADE- Increasing Capacity of Participatory Youth Work, which unites organizations from Sweden, Estonia, Poland, Ukraine, and Georgia.
		</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">
				<strong>Stakeholders</strong>
			</h3>
			<p class="editable">
				The project aims to increase the operational capacity and participatory approaches of Youth Centers in partner countries through creating youth work structures, developing professional competencies of youth workers, establishing /exchanging the means of best practices.
			</p>
			<p class="editable">
				<a href="/organizations/">View Full organizations &rarr;</a>
			</p>
		</div>
		<div>
			<ul class="image-grid">
				{% for org in site.orgs limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ org.url }}"><img src="{% include relative-src.html src=org.image_path %}" /></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
		
			<img src="https://projectupgrade.ge/images/upgrade.png">
		
		</div>
	</div>
</section>
